<!DOCTYPE html>
html(lang="es")
  head
    include partials/header
  body.login
    .contenedor-formulario
      h1 Crea tu cuenta

      include partials/mensajes

      form(method="POST" action="/crear-cuenta")#formulario.caja.caja-login
        .campo
          label(for="email") Coreo Electr칩nico
          input(type="email" name="email" placeholder="Email" value= email)
        .campo
          label(for="password") Contrase침a
          input(type="password" name="password" placeholder="Contrase침a" value= password)
        .campo.enviar
          input(type="submit" value="Crear Cuenta").boton
        .campo
          a(href="/iniciar-sesion") Volver a Iniciar Sesi칩n

    script(src="/dist/bundle.js")

