extends layout

block contenido
  .contenido-principal
    h1=nombrePagina
    form.agregar-proyecto
      .campo
        label(for="nombre") Nombre Proyecto
        input(type="text" name="nombre" placeholder="Nombre Proyecto")#nombre
      .campo.enviar
        input(type="submit" value="Agregar").boton


