<!DOCTYPE html>
html(lang="es")
  head
    include partials/header
  body.login
    .contenedor-formulario
      h1= nombrePagina
      p Coloca tu Nuevo Password

      //- if locals.mensajes
      //-   .alertas
      //-     each categoria in Object.keys(locals.mensajes)
      //-       each error in mensajes[categoria]
      //-         .alerta(class=`${categoria}`)
      //-           p= error

      form(method="POST").caja-login
        .campo
          label(for="password") Contraseña
          input(type="password" name="password" placeholder="Nueva contraseña")
        .campo.enviar
          input(type="submit" value="Reestablecer Password").boton
