extends layout

block contenido
  .contenido-principal
    h1 Proyecto - #{proyecto.nombre}

    .contenedor-acciones
      a(href=`/proyecto/editar/${proyecto.id}`).boton Editar
      button(type="button")#eliminar-proyecto.boton.eliminar Eliminar
